<%= form_for @comment, url: create_comment_path(@comment.post_id) do |f| %>
    <p style="display:none">
        <%= f.label :post_id%><br>
        <%= f.text_field :post_id %>
    <p>
        <br>
        
        <%= f.cktext_area :content %>
    </p>
    
    <p><%= f.submit 'Comentar', class:'btn btn-primary' %> 
       <%= link_to post_path(@comment.post_id) do %>
           <button type="button" class="btn btn-secondary">Voltar</button>
       <% end %>
    </p>
    
<% end %>