<h1>Página Inicial da Postagens</h1>
<p>Aqui é onde tu vai ler as besteiras, seu bosta</p>
<% if flash[:notice] %>
  <p>------------------------------------------------------</p>
  <p><%= flash[:notice] %></p>
<% end %>
<p>------------------------------------------------------</p>
<% @posts.each do |post|%>
  <div>
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <h3>Comentário(s)</h3>
      
      <% post.comments.each do |comment| %>
        <% @count = 1 %>
        <p><%= @count %>. <%= comment.content %></p>
        <% @count += 1%>
      <% end %>
  <p>------------------------------------------------------</p>
  </div>
<% end %>
<p>Navegação</p>
<%= link_to 'Página Inicial', root_path %> | <%= link_to 'Novo Post', new_post_path %>


