<header class="masthead" style="background-image: url('/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= @post.title %></h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p><%= @post.content %></p>
        </div>
      </div>
    </div>
  </article>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= link_to new_comment_path(@post.id) do %>
          <button type="button" class="btn btn-secondary">Comentar Postagem</button>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <% if @post.comments.any?%>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="text-center font-weight-bold">COMENTÁRIOS</p>
          </div>
        </div>
      <% @cont = 1 %>
      <% @post.comments.each do |comment| %>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p><%= (comment.content[0,3] + '<b>' + @cont.to_s + '.</b> ' + comment.content[3, comment.content.length]).html_safe %></p>
            <% @cont += 1%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <hr>
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p class="text-center font-weight-bold"> Novo Comentário</p>
        <p>
          <%= form_for @comment, url: create_comment_path(@comment.post_id) do |f| %>
            <div style="display:none"><%= f.text_field :post_id %></div>
            <p>
              <%= f.cktext_area :content, size:'100x5'%>
            </p>
            <p><%= f.submit 'Comentar', class:'btn btn-primary' %></p>
          <% end %>
        </p>
        </div>
      </div>
    </div>
<hr>
  
  
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>